[submodule "router/embed"]
	path = router/embed
	url = https://github.com/tritiumNetworks/wait-thats-illegal-embed.git
[submodule "router/main"]
	path = router/main
	url = https://github.com/tritiumNetworks/TritiumNetworks.git
