[submodule "router/embed"]
	path = router/embed
	url = https://github.com/tritiumNetworks/wait-thats-illegal-embed.git
[submodule "router/main"]
	path = router/main
	url = https://github.com/tritiumNetworks/TritiumNetworks.git
[submodule "router/chat"]
	path = router/chat
	url = https://github.com/tritiumNetworks/triangles.git
[submodule "router/type"]
	path = router/type
	url = https://github.com/tritiumNetworks/typingGame.git
[submodule "router/arrow"]
	path = router/arrow
	url = https://github.com/tritiumNetworks/ArrowLanguage.git
